<mat-menu #menu="matMenu" aria-label="Notifications menu">
  <button
    mat-menu-item
    *ngFor="let notif of notifications"
    (click)="markRead(notif.id)"
    [attr.aria-label]="'Mark notification as read: ' + notif.message"
  >
    {{ notif.message }} ({{ notif.createdAt | date: 'short' }})
  </button>
  <button mat-menu-item *ngIf="!notifications.length" disabled aria-label="No notifications available">
    No notifications
  </button>
</mat-menu>
<mat-icon
  [matBadge]="notifications.length"
  matBadgeColor="warn"
  matBadgeDescription="Unread notifications"
  aria-hidden="false"
>
  notifications
</mat-icon>
